<div class="container">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" routerLink="/home">Employee</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/about">Student</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" routerLink="/contact-us">Managers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">FAQ</a>
    </li>
  </ul>
  <router-outlet></router-outlet>
</div>