<div class="row my-4">
    <h3 class="center">{{heading}} Record List</h3>
</div>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Serial No.</th>
            <th>Name</th>
            <th>Contact</th>
        </tr>
    </thead>
    <tbody>

        <tr>
            <td>1</td>
            <td>Ranjeet</td>
            <td>8955319403</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Ranjeet</td>
            <td>8955319403</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Ranjeet</td>
            <td>8955319403</td>
        </tr>
        <tr>
            <td>1</td>
            <td>Ranjeet</td>
            <td>8955319403</td>
        </tr>
    </tbody>
</table>